<div class="row">
    <div class="col-md-6">
        <a routerLink="/" class="btn btn-link">
            <i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard
        </a>
    </div>
    <div class="col-md-6"></div> 
</div>

<div class="card">
    <div class="card-header">
        <h3>Edit Settings</h3>
    </div>
    <div class="card-body">
        <form (submit)="onSubmit()" class="form">
            <div class="form-group">
                <input type="checkbox" [checked]="settings.allowRegistration" (change)="settings.allowRegistration = !settings.allowRegistration" name="allowRegistration">
                <label for="allowRegistration">Allow Registration</label>
            </div>

            <div class="form-group">
                <input type="checkbox" [checked]="settings.disableBalanceOnAdd" (change)="settings.disableBalanceOnAdd = !settings.disableBalanceOnAdd" name="disableBalanceOnAdd">
                <label for="disableBalanceOnAdd">Disable balance on Add</label>
            </div>

            <div class="form-group">
                <input type="checkbox" [checked]="settings.disableBalanceOnEdit" (change)="settings.disableBalanceOnEdit= !settings.disableBalanceOnEdit" name="disableBalanceOnEdit">
                <label for="=disableBalanceOnEdit">Disable balance on Edit</label>            
            </div>

            <input type="submit" value="Submit" class="btn btn-primary btn-block">
        </form>
    </div>
</div>